<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>JEMS SITE</title>
    <style>
        body {
            background-color: #CEE5F2;
            font-family: monospace;
            font-size: 20px;
        }

        #navbar {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            height: 200px;
        }

        button {
            background-color: #ACCBE1;
            border: 3px solid #7C98B3;
            border-radius: 25px;
            text-align: center;
            width: 20%;
        }
    </style>
</head>
    <body>
        <nav id="navbar">
            <button id="budget" type="button" onclick="budgetRedirect()">Budgeting</button>
            <button id="ebay" type="button" onclick="ebayRedirect()">eBay</button>
            <script>
                function ebayRedirect() {
                    location.replace("ebaything")
                }
            </script>
            <script>
                function budgetRedirect() {
                    location.replace("budget")
                }
            </script>
        </nav>

    </body>
</html>