<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>JEMS SITE</title>
    <style>
        body {
            color: #666666;
            font-family: monospace;
            font-size: 20px;
        }

        #navbar {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            height: 200px;
        }

        button {
            background-color: #CCCCCC;
            border: 4px solid #666666;
            border-radius: 25px;
            text-align: center;
            width: 20%;
        }
    </style>
</head>
    <body>
        <nav id="navbar">
            <button id="budget" type="button">Budgeting</button>
                <button id="ebay" type="button" onclick="ebayRedirect()">eBay</button>
            <script>
                function ebayRedirect() {
                    location.replace("http://localhost:5000/ebaything")
                }
            </script>
            
        </nav>

    </body>
</html>