<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>JEMS SITE</title>
    <style>
        body {
            background-color: #CEE5F2;
            font-family: monospace;
            font-size: 20px;
        }

        #navbar {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            height: 200px;
        }

        button {
            background-color: #ACCBE1;
            border: 3px solid #7C98B3;
            border-radius: 25px;
            text-align: center;
            width: 20%;
        }
    </style>
</head>
    <body>
        <nav id="navbar">
            <button id="budget" type="button" onclick="budgetRedirect()">Insurance Claim Calculator</button>
            <button id="ebay" type="button" onclick="ebayRedirect()">eBay For Necessities</button>
            <script>
                function ebayRedirect() {
                    location.replace("ebaything")
                }
            </script>
            <script>
                function budgetRedirect() {
                    location.replace("budget")
                }
            </script>
        </nav>

    <div style="text-align: center;">
        <h4>Resources for contacting officials:</h4>

        <ul>
            <li><a href="https://twitter.com/TDEM">Texas Division of Emergency Management</a></li>
            <li><a href="https://www.facebook.com/TxDOT">Texas Department of Transportation</a></li>
            <li><a href="https://twitter.com/nwssouthern">National Weather Service</a></li>
            <li><a href="https://twitter.com/ercot_iso">ERCOT</a></li>
            <li><a href="https://twitter.com/fema">FEMA</a></li>
        </ul>
    </div>

    </body>
</html>